html, #newtab-window {background: 
*/ #222 /* fixed */ !important}
* {
    color: #999 !important;
    background-color: transparent !important;
    border-color: #444 !important;
    border-top-color: #444 !important;
    border-bottom-color: #444 !important;
    border-left-color: #444 !important;
    border-right-color: #444 !important}
body {background: transparent !important}
*:before, *:after {background-color: #444 !important; border-color: #444 !important}

/*----- MENU & CO BACKGROUND-COLORS -----*/
div[style="display: block;"], div[role="navigation"] {background: rgba(0,0,0,.5) !important}

table {
    background: rgba(40,30,30,.6) !important;
    border-radius: 6px !important}
table > tbody > tr:nth-child(even), table > tbody > tr > td:nth-child(even) {
    background-color: rgba(0,0,0,.2) !important}

iframe, embed, header, nav, footer, label [onclick], nav ul, div[style*="position:"][style*="left:"][style*="visible"], div[style*="z-index:"][style*="left:"][style*="visible"], div[style*="-moz-user-select"], div[role="menu"], div[role="dialog"], span[class*="script"] div, [id*="menu"], [class*="dropdown"], [class*="popup"], [class="title"], ul[style*="display:"], ul[style*="visibility:"] ul, [id*="nav"] ul, [class*="nav"] ul, ul[class*="menu"], a[onclick][style*="display"], a[id*="ghosteryfirefox"], #ghostery-purple-bubble, #translator-popup, .menu, .tooltip, .hovercard, .vbmenu_popup {
    background: rgba(5,5,5,.9) !important;
    border-radius: 5px;}
[id*="overlay"], [id*="lightbox"], blockquote {
    background-color: rgba(35,35,35,.9) !important;
    border-radius: 5px}
pre, dl, .Message code {
    background-color: rgba(5,5,5,.5) !important}

